<a href="https://colab.research.google.com/github/afraz-rupak/Bank-management-system-project-in-Python/blob/main/Predict_closing_deals_customer_Using_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

In [ ]:
file_path = '/content/drive/MyDrive/Data min/activity.csv'
df = pd.read_csv(file_path)
df

              date            customer activity_type  activity_count
0       2021-01-20  0032j000002jRYxAAM             a               1
1       2021-05-11  0032j00000FZcIvAAL             a               1
2       2020-12-09  0032j000002gKM8AAM             a               1
3       2021-03-30  0032j000001UX7cAAG             a               1
4       2020-10-19  0032j000004etUWAAY             a               1
...            ...                 ...           ...             ...
904767  2020-10-16  0032j00000BHEpXAAX             f               1
904768  2020-10-16  0032j00000BHEqDAAX             f               1
904769  2020-10-16  0032j00000BHEo8AAH             f               1
904770  2020-10-16  0032j00000BHDuCAAX             f               1
904771  2020-10-19  0032j00000BHMNTAA5             f               1

[904772 rows x 4 columns]

In [ ]:
df['date'] = pd.to_datetime(df['date'],format = '%Y-%m-%d')

In [ ]:
df.sort_values(by='date', inplace = True)

In [ ]:
df

             date            customer activity_type  activity_count
248654 2020-09-01  0032j000002j8EWAAY             u               1
704454 2020-09-01  0032j000004eXXYAA2             m               1
397488 2020-09-01  0032j000001USteAAG             x               1
279817 2020-09-01  0032j000001UV3GAAW             l               1
279821 2020-09-01  0032j000002gKeYAAU             l               1
...           ...                 ...           ...             ...
110750 2021-05-23  0032j0000064RQEAA2             m               1
139383 2021-05-23  0032j000001USsfAAG             h               1
832551 2021-05-23  0032j000002gKsbAAE             i               1
564136 2021-05-23  0032j00000Gj8HaAAJ             j               1
729960 2021-05-23  0032j000002j3QbAAI             l               1

[904772 rows x 4 columns]

In [ ]:
df1 = df

In [ ]:
df1.activity_count.unique()

array([1])

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 904772 entries, 248654 to 729960
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            904772 non-null  datetime64[ns]
 1   customer        904772 non-null  object
 2   activity_type   904772 non-null  object
 3   activity_count  904772 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 34.5+ MB

#

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [ ]:
df1['activity_type']= label_encoder.fit_transform(df1['activity_type'])

In [ ]:
df1['customer']= label_encoder.fit_transform(df1['customer'])

In [ ]:
df1['year'] = df1['date'].dt.year
df1['month'] = df1['date'].dt.month
df1['day'] = df1['date'].dt.day

df1.drop('date',axis=1,inplace=True)

In [ ]:
df1

        customer  activity_type  activity_count  year  month  day
248654     39916             20               1  2020      9    1
704454     67826             12               1  2020      9    1
397488     20119             23               1  2020      9    1
279817     22201             11               1  2020      9    1
279821     29196             11               1  2020      9    1
...          ...            ...             ...   ...    ...  ...
110750     74787             12               1  2021      5   23
139383     20091              7               1  2021      5   23
832551     29623              8               1  2021      5   23
564136    139500              9               1  2021      5   23
729960     33800             11               1  2021      5   23

[904772 rows x 6 columns]

In [ ]:
#from sklearn.preprocessing import MinMaxScaler
#mms=MinMaxScaler()

In [ ]:
x = df1[["customer",'year','month','day']]
x

        customer  year  month  day
248654     39916  2020      9    1
704454     67826  2020      9    1
397488     20119  2020      9    1
279817     22201  2020      9    1
279821     29196  2020      9    1
...          ...   ...    ...  ...
110750     74787  2021      5   23
139383     20091  2021      5   23
832551     29623  2021      5   23
564136    139500  2021      5   23
729960     33800  2021      5   23

[904772 rows x 4 columns]

In [ ]:
y = df1[['activity_type']]
y

        activity_type
248654             20
704454             12
397488             23
279817             11
279821             11
...               ...
110750             12
139383              7
832551              8
564136              9
729960             11

[904772 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=5)

In [ ]:
X_train.shape

(723817, 4)

In [ ]:
X_test.shape

(180955, 4)

# Build a model (ANN) in tensorflow/keras

In [ ]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(4, input_shape=(4,), activation='relu'),
    #keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=150)

Epoch 1/150
22620/22620 [==============================] - 35s 2ms/step - loss: -674256832.0000 - accuracy: 0.0337
Epoch 2/150
22620/22620 [==============================] - 36s 2ms/step - loss: -4086000128.0000 - accuracy: 0.0337
Epoch 3/150
22620/22620 [==============================] - 34s 1ms/step - loss: -10455483392.0000 - accuracy: 0.0337
Epoch 4/150
22620/22620 [==============================] - 34s 2ms/step - loss: -19732246528.0000 - accuracy: 0.0337
Epoch 5/150
22620/22620 [==============================] - 34s 2ms/step - loss: -31924330496.0000 - accuracy: 0.0337
Epoch 6/150
22620/22620 [==============================] - 34s 2ms/step - loss: -47016521728.0000 - accuracy: 0.0337
Epoch 7/150
22620/22620 [==============================] - 34s 2ms/step - loss: -65003134976.0000 - accuracy: 0.0337
Epoch 8/150
22620/22620 [==============================] - 34s 2ms/step - loss: -85860540416.0000 - accuracy: 0.0337
Epoch 9/150
22620/22620 [==============================] - 36s 2ms/step - loss: -109617823744.0000 - accuracy: 0.0337
Epoch 10/150
22620/22620 [==============================] - 34s 1ms/step - loss: -136248877056.0000 - accuracy: 0.0337
Epoch 11/150
22620/22620 [==============================] - 34s 2ms/step - loss: -165780013056.0000 - accuracy: 0.0337
Epoch 12/150
22620/22620 [==============================] - 34s 2ms/step - loss: -198150995968.0000 - accuracy: 0.0337
Epoch 13/150
22620/22620 [==============================] - 34s 1ms/step - loss: -233456451584.0000 - accuracy: 0.0337
Epoch 14/150
22620/22620 [==============================] - 34s 1ms/step - loss: -271608971264.0000 - accuracy: 0.0337
Epoch 15/150
22620/22620 [==============================] - 35s 2ms/step - loss: -312691163136.0000 - accuracy: 0.0337
Epoch 16/150
22620/22620 [==============================] - 35s 2ms/step - loss: -356594024448.0000 - accuracy: 0.0337
Epoch 17/150
22620/22620 [==============================] - 34s 1ms/step - loss: -403388760064.0000 - accuracy: 0.0337
Epoch 18/150
22620/22620 [==============================] - 34s 2ms/step - loss: -453065375744.0000 - accuracy: 0.0337
Epoch 19/150
22620/22620 [==============================] - 34s 2ms/step - loss: -505645465600.0000 - accuracy: 0.0337
Epoch 20/150
22620/22620 [==============================] - 34s 2ms/step - loss: -561098653696.0000 - accuracy: 0.0337
Epoch 21/150
22620/22620 [==============================] - 35s 2ms/step - loss: -619351965696.0000 - accuracy: 0.0337
Epoch 22/150
22620/22620 [==============================] - 34s 2ms/step - loss: -680593326080.0000 - accuracy: 0.0337
Epoch 23/150
22620/22620 [==============================] - 35s 2ms/step - loss: -744628355072.0000 - accuracy: 0.0337
Epoch 24/150
22620/22620 [==============================] - 34s 1ms/step - loss: -811559092224.0000 - accuracy: 0.0337
Epoch 25/150
22620/22620 [==============================] - 34s 2ms/step - loss: -881407033344.0000 - accuracy: 0.0337
Epoch 26/150
22620/22620 [==============================] - 34s 2ms/step - loss: -954103824384.0000 - accuracy: 0.0337
Epoch 27/150
22620/22620 [==============================] - 35s 2ms/step - loss: -1029650317312.0000 - accuracy: 0.0337
Epoch 28/150
22620/22620 [==============================] - 34s 1ms/step - loss: -1108066435072.0000 - accuracy: 0.0337
Epoch 29/150
22620/22620 [==============================] - 33s 1ms/step - loss: -1189345886208.0000 - accuracy: 0.0337
Epoch 30/150
22620/22620 [==============================] - 34s 2ms/step - loss: -1273588088832.0000 - accuracy: 0.0337
Epoch 31/150
22620/22620 [==============================] - 34s 2ms/step - loss: -1360615702528.0000 - accuracy: 0.0337
Epoch 32/150
22620/22620 [==============================] - 34s 2ms/step - loss: -1450533191680.0000 - accuracy: 0.0337
Epoch 33/150
22620/22620 [==============================] - 35s 2ms/step - loss: -1543370571776.0000 - accuracy: 0.0337
Epoch 34/150
22620/22620 [==============================] - 36s 2ms/step - loss: -1638984974336.0000 - accuracy: 0.0337
Epoch 35/150
22620/22620 [==============================] - 34s 2ms/step - loss: -1737566978048.0000 - accuracy: 0.0337
Epoch 36/150
22620/22620 [==============================] - 34s 1ms/step - loss: -1838938456064.0000 - accuracy: 0.0337
Epoch 37/150
22620/22620 [==============================] - 34s 2ms/step - loss: -1943191289856.0000 - accuracy: 0.0337
Epoch 38/150
22620/22620 [==============================] - 34s 1ms/step - loss: -2050449342464.0000 - accuracy: 0.0337
Epoch 39/150
22620/22620 [==============================] - 34s 2ms/step - loss: -2160374579200.0000 - accuracy: 0.0337
Epoch 40/150
22620/22620 [==============================] - 36s 2ms/step - loss: -2273329807360.0000 - accuracy: 0.0337
Epoch 41/150
22620/22620 [==============================] - 34s 1ms/step - loss: -2389182251008.0000 - accuracy: 0.0337
Epoch 42/150
22620/22620 [==============================] - 34s 1ms/step - loss: -2507774623744.0000 - accuracy: 0.0337
Epoch 43/150
22620/22620 [==============================] - 34s 2ms/step - loss: -2629360418816.0000 - accuracy: 0.0337
Epoch 44/150
22620/22620 [==============================] - 35s 2ms/step - loss: -2753713668096.0000 - accuracy: 0.0337
Epoch 45/150
22620/22620 [==============================] - 34s 1ms/step - loss: -2881076330496.0000 - accuracy: 0.0337
Epoch 46/150
22620/22620 [==============================] - 36s 2ms/step - loss: -3011116793856.0000 - accuracy: 0.0337
Epoch 47/150
22620/22620 [==============================] - 34s 2ms/step - loss: -3143702675456.0000 - accuracy: 0.0337
Epoch 48/150
22620/22620 [==============================] - 34s 2ms/step - loss: -3279104507904.0000 - accuracy: 0.0337
Epoch 49/150
22620/22620 [==============================] - 34s 2ms/step - loss: -3417393332224.0000 - accuracy: 0.0337
Epoch 50/150
22620/22620 [==============================] - 34s 1ms/step - loss: -3558534807552.0000 - accuracy: 0.0337
Epoch 51/150
22620/22620 [==============================] - 34s 2ms/step - loss: -3702611771392.0000 - accuracy: 0.0337
Epoch 52/150
22620/22620 [==============================] - 34s 1ms/step - loss: -3849388294144.0000 - accuracy: 0.0337
Epoch 53/150
22620/22620 [==============================] - 35s 2ms/step - loss: -3998970281984.0000 - accuracy: 0.0337
Epoch 54/150
15218/22620 [===================>..........] - ETA: 11s - loss: -4123079737344.0000 - accuracy: 0.0339

KeyboardInterrupt: ignored